services:
  db:
    image: postgres:16-alpine
    container_name: onlinechat-db
    environment:
      - POSTGRES_DB=online_chat
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=asus56asus56   # тот самый пароль
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: ./OnlineChatBackend/OnlineChatBackend
    container_name: onlinechat-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__Pg=Host=db;Port=5432;Database=online_chat;Username=postgres;Password=asus56asus56;Pooling=true;Maximum Pool Size=50
      - AuthSettings__SecretKey=regvguiarhfupahfPJAWEPVMRJBNVAEYFGywgfywavhrhvourvjsremvk[r
      - AuthSettings__Expires=00:30:00
    depends_on:
      - db
    expose:
      - "80"
  
  web:
    build: ./online-chat
    container_name: onlinechat-web
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro


volumes:
  pgdata:
