.CenterSideBar__container{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.Chat__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image:url(/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    outline: 1px solid grey;
}

.ChatHeading__container{
    height: 40px;
    display: flex;
    background-color: white;
    padding: 20px;
    align-items: center;
    outline: 1px solid grey;
}
.ChatHeading__names{
  height: fit-content;
  text-align: center;
}
.ChatHeading__name{
  margin: 0;
}

.ChatFooter__container{
    display: flex;
    margin-top: auto;
    min-height:40px;
    max-height: 200px;
    padding: 0;
    outline: 1px solid grey;
}

.ChatInput{
    flex: 1;
    padding: 0;
    width: 100%;
    height: 50px;
    border:none;
    font-size: 14px;
    resize: none;
    max-height: 186px;
    outline: none;
    padding: 5px;
}

.ChatInput::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
.ChatInput::-webkit-scrollbar-track {
  background: #d4d2d2;
  width: 8px;
}
.ChatInput::-webkit-scrollbar-thumb {
  background-color: rgb(87, 87, 87);    /* цвет плашки */
  border-radius: 20px; 
}

.ChatBody_container{
  overflow-x: auto;
  /* overflow-y: none; */
  flex: 1;
  max-height: 100%;
}

.ChatBody_container::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
.ChatBody_container::-webkit-scrollbar-track {
  /* background: #d4d2d2; */
  width: 8px;
  background-color: transparent;
}
.ChatBody_container::-webkit-scrollbar-thumb {
  background-color: rgb(204, 202, 202,0.3);   /* цвет плашки */
  border-radius: 20px; 
}

.message{
  display: flex;
  background-color: azure;
  padding: 5px 10px;
  padding-bottom: 25px;
  border-radius: 15px;
  width: fit-content;
  max-width: 80%;
  min-width: 30px;
  margin: 10px 0;
  margin-left: 30px;
  position: relative;
}

.message_right{
  margin-left: auto;
  margin-right: 30px;
}

.message__text{
  word-break:break-all;
  margin: 0;
}

.message__time{
  position: absolute;
  bottom: 5px;
  right: 7px;
  font-size: 14px;
}

